<form action="{% url 'blogedit' id=data.id %}?id=data.id" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <header><b>You can edit your Blogs here..</b></header>
        <br>
        <tr>
            <td>Tittle</td>
            <td><input type="text" name="tittle" value="{{data.tittle}}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="discription" value="{{data.discription}}"></td>
        </tr>
        <tr>
            <td>Link</td>
            <td><input type="text" name="link" value="{{data.link}}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><img src="{{data.img.url}}" height="50" width="50"></td>
        </tr>
        <tr>
            <td>Image edit</td>
            <td><input type="file" name="Image"></td>
        </tr>
    </table>
    <br><br>
    <input type="submit" value="UPDATE">
    </form>



    