<form action="{% url 'brands' %}" method="POST"></form>{% csrf_token %}

<fieldset style="width: 40%">
    <hr>
    <table border="1">
        <tr>
            <th>No.</th>
            <th>Tittle</th>
            <th>Image</th>
            <th>Description</th>
            <th>link</th>
            <th>EDIT</th>
        </tr>
        {% for i in data1 %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.tittle1}}</td>
                <td><img src="{{i.img2}}" alt=""></td>
                <td>{{i.discription1}}</td>
                <td>{{i.link}}</td>
                <td><a href="{% url 'new' id=i.id %}">EDIT</a></td>
                <!-- <td><img src="{{i.img}}" height="50" width="50"></td> -->
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'brands' %}">Add brands</a>

</fieldset> 

</form>



<form action="{% url 'brands' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
    <head><b>Meet our brands</b></head><br><br>
    <table>
        <tr>
            <td>Tittle</td>
            <td><input type="text" name="tittle1" required></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" name="image2" required></td></tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="discription1" required></td>
        </tr>
        <tr>
            <td>link</td>
            <td><input type="text" name="link" required></td></tr>
        <tr></table>
        <br>
        <input type="submit" value="Save">
    </form>
