{% extends "app/publiclayout.html" %}
{% block content %}
<form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <head><b>Sliders</b></head><br><br>
    <table>
        <tr>
            <td>tittle</td>
            <td><input type="text" name="tittle" required></td>
        </tr>
        <tr>
            <td>image1:</td>
            <td><input type="file" name="image1" required></td>
        <tr>
            <td>description</td>
            <td><input type="text" name="discription" required></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="save"> 
</form>
<br><br>

<header>Who we are</header>
<p>
    Integer pulvinar leo id viverra feugiat. Pellentesque libero ut justo, semper at tempus vel, ultrices in ligula.
    Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
</p> 
<a href="##"> Read more</a>

<br><br>
<form action="{% url 'fun' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
    <head><b>Meet our brands</b></head><br><br>
    <table>
        <tr>
            <td>tittle</td>
            <td><input type="text" name="tittle1" required></td>
        </tr>
        <tr>
            <td>image1:</td>
            <td><input type="file" name="image2" required></td></tr>
        <tr>
            <td>description</td>
            <td><input type="text" name="discription1" required></td>
        </tr>
        <tr>
            <td>link</td>
            <td><input type="text" name="link" required></td></tr>
        <tr></table>
        <br>
        <input type="submit" value="update">
    </form>
{% endblock %}


